:root 
{
    --color-primary : #C4C4C4;
    --color-SuperSilver:#EEEEEE;
    --color-basalt-grey:#999999;
    --color-black:#000000;
    --color-white:#ffffff;
    --color-splish-splash:#358ECF;
    --color-dhusar-grey:#ABABAB;
    --color-bank-vault:#747474;
    





}

