:root {
  --color-primary: #c4c4c4;
  --color-SuperSilver: #eeeeee;
  --color-basalt-grey: #999999;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-splish-splash: #358ecf;
  --color-dhusar-grey: #ababab;
  --color-bank-vault: #747474;
}
