.main-loader {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-SuperSilver);
}

.primary-navbar-wrapper {
  width: 100%;

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      // width: 195px;
      // height: 185px;
      padding: 68px 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--color-primary);
    }
    .nav-links {
      background-color: var(--color-primary);
      display: flex;
      align-items: center;
      column-gap: 80px;
      padding-left: 20px;
      padding-right: 20px;
      a {
        display: block;
        padding: 13px;
      }
    }
  }
}

.primary-footer-wrapper {
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  padding-bottom: 129px;
  .footer-main {
    column-gap: 190px;

    .nav-links-section {
    }
  }
}
