


// =========================================================
//                          Font Weight
// =========================================================

// light
.fw-300 {
    font-weight: 300 !important;
  }
  
  // regular
  .fw-400 {
    font-weight: 400 !important;
  }
  
  // medium
  .fw-500 {
    font-weight: 500 !important;
  }
  // semi-bold
  .fw-600 {
    font-weight: 600 !important;
  }
  
  // bold
  .fw-700 {
    font-weight: 700 !important;
  }
  // extra-bold
  .fw-800 {
    font-weight: 800 !important;
  }

// =========================================================
//                          Margins Paddings
// =========================================================
.mt-17
{
    margin-top: 17px !important;
}
.mt-30
{
    margin-top: 30px !important;
}
.mt-50
{
    margin-top: 50px !important;
}
.mt-75
{
    margin-top: 75px !important;
}
.mt-128
{
    margin-top: 128px !important;
}
.mt-180
{
    margin-top: 100px !important;
}

.ml-28
{
    margin-left: 28px !important;
}
.pb-128
{
    padding-bottom: 128px !important;
}
.p-16 
{
    padding:40px;
}


// =========================================================
//                          Font Sizes
// =========================================================

.f-20 
{
    font-size: 20px !important;
}
.f-22 
{
    font-size: 22px !important;
}
.f-25 
{
    font-size: 25px !important;
}
.f-35 
{
    font-size: 35px !important;
}
.f-30 
{
    font-size: 30px !important;
}
.f-40 
{
    font-size: 40px !important;
}
.f-50 
{
    font-size: 50px !important;
}

.bottomGrey-border 
{
    border-bottom: 2px solid #efefef;
}



// =========================================================
//                         Colors
// =========================================================

.color-basalt-grey 
{
    color:var(--color-basalt-grey) !important;
}
.color-splishSplash 
{
    color:var(--color-splish-splash);
}
.color-bank-vault 
{
    color:var(--color-bank-vault);
}
.bg-color-SuperSilver
{
    background-color:var(--color-SuperSilver)
}
.bg-color-dhusar-grey
{
    background-color:var(--color-dhusar-grey)
}
